<?xml version="1.0"?>
<model>
  <name>Firefighting Drone</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Firefighting System Team</name>
    <email>team@firefighting.com</email>
  </author>

  <description>
    A firefighting drone model for simulation purposes.
  </description>
</model>
